@media (min-width: 0) {
  .card-deck-responsive .card {
    flex: 0 0 calc(100% - 30px); } }
@media (min-width: 576px) {
  .card-deck-responsive .card {
    flex: 0 0 calc(100% - 30px); } }
@media (min-width: 768px) {
  .card-deck-responsive .card {
    flex: 0 0 calc(50% - 30px); } }
@media (min-width: 992px) {
  .card-deck-responsive .card {
    flex: 0 0 calc(25% - 30px); } }
@media (min-width: 1200px) {
  .card-deck-responsive .card {
    flex: 0 0 calc(25% - 30px); } }
